@import "../utils/container.module";

.single__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-top: 3em;
}
.single__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  width: 342px;
  transition: all 0.5s;
  @media screen and (max-width: 350px) {
    width: 270px;
  }
  &:hover,
  &:focus {
    scale: 1.07;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #fbf7f0;
    color: #29170c;
    outline: none;
  }
}
.single__img {
  cursor: pointer;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
}

.single__list__box {
  margin-top: auto;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;

  color: #bd976e;
}
.single__list__box__price {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
}
/***/
