@import "../utils/container.module";
@import "../utils/mixins.module";
.single__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding-top: 3em;
  @include tablet {
    flex-direction: row;
    align-items: stretch;
  }
}
.single__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  border-radius: 20px;
  width: 342px;
  transition: all 0.5s;
  @media screen and (max-width: 400px) {
    width: 270px;
  }
  @include tablet {
    width: 300px;
  }
  &:hover,
  &:focus {
    scale: 1.07;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background: #fbf7f0;
    color: #29170c;
    outline: none;
  }
}
.single__img {
  cursor: pointer;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  // margin: auto 0;
  object-fit: cover;
}

.single__list__box {
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;

  color: #bd976e;
}
.single__list__box__price {
  font-size: 20px;
  font-weight: 500;
}
/** admin*/
.single__list__box__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-top: 20px;
}

.single__icon__create {
  margin-right: 8px;
}

.single__icon {
  cursor: pointer;
  font-size: 30px;
  color: #bd976e;
  transition: all 0.5s ease;

  &:hover {
    scale: 1.3;
  }
}

.single__box__icon {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.5s ease;

  input[type="checkbox"] {
    display: none;
    & + span::before {
      content: "";
      width: 24px;
      height: 24px;
      background-color: #bd976e;
      margin-right: 8px;
      display: inline-block;
      border-radius: 4px;
    }
    &:checked + span::after {
      content: "✓";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      justify-content: center;
      align-items: center;

      color: #fff;
      font-size: 20px;
      background-color: #bd976e;
      border-radius: 4px;
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    scale: 1.3;
  }
}
.chip {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 8px;

  background-color: #bd976e;
  border-radius: 4px;
}
